numpy==1.24.4           # For numerical operations
opencv-python-headless==4.5.5.64   # For OpenCV's computer vision functions
pygame==2.6.0             # For audio playback
requests==2.31.0          # For handling HTTP requests
python-dotenv